/* UTILITY */
/** Background - color **/
.bg-dark-grey {
    background-color: #1f1f1f;
}
.bg-grey {
    background-color: #bebcbb;
}
.bg-light-grey {
    background-color: #d9dadc;
}
.bg-dark-blue {
    background-color: #161c3b;
}
.bg-blue {
    background-color: #00439c;
}
.bg-dark-orange {
    background-color: #cd3d0f;
}
/* Size utility */
/** Height/width **/
.h-80 {
    height: 80vh;
}
.h-15 {
    height: 15px;
}
/** font-size **/
.f-6 {
    font-size: 6px;
}
.f-12 {
    font-size: 12px;
} 
.f-14 {
    font-size: 14px;
}
/** Margin/padding **/
.mt-112 {
    margin-top: 112px;   
}
.mt-80 {
    margin-top: 80px;
}
.mb-40 {
    margin-bottom: 40px;
}
.mb-60 {
    margin-bottom: 60px;
}
/** Border-radius **/
.br-30 {
    border-radius: 30px;
}



