/*? UTILITY ?*/
/** Background - color **/
.bg-grey {
    background-color: #1f1f1f;
}
.bg-light-grey {
    background-color: #bebcbb;
}
.bg-dark-blue {
    background-color: #161c3b;
}
.bg-blue {
    background-color: #00439c;
}
/* Size utility */
/** Height/width **/
.h-80 {
    height: 80vh;
}
.h-60 {
    height: 60vh;
}
.w-200 {
    max-width: 200px;
}
/** Margin/padding **/
.mt-112 {
    margin-top: 112px;   
}


